@import "node_modules/bootstrap/scss/bootstrap";
@import "resources/assets/sass/colours";
@import "resources/assets/sass/navigation";
@import "resources/assets/sass/typography";
@import "resources/assets/sass/buttons";

body {
    background-color: $base-colour;
}


.comp-entries {
    h4 {
        display: inline-block;
    }
    form {
        display: inline;
    }
}

.comp-title {
    text-align: center;
}

.comp-logo {
    text-align: center;
    padding: 2em;
    img {
        width: 150px;
        max-height: 200px;
    }

}

.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 15px;
}
