$heading-font: 'Lato', Helvetica, Verdana, Arial, serif;
$text-font: 'Source Sans Pro', Helvetica, sans-serif;

body {
    font-family: $text-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    color: $dark-colour;
}

.navbar {
    font-family: $heading-font;
}
